<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign news = site.news | reverse %}
        {% if include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <tr>
            <!-- Period -->
            <th scope="row" style="width: 20%">
              {% if item.period %}
                {{ item.period }}
              {% elsif item.date %}
                {{ item.date | date: '%b %d, %Y' }}
              {% endif %}
            </th>

            <!-- Level -->
            <td style="width: 20%">
              {% if item.level %}
                {{ item.level }}
              {% endif %}
            </td>

            <!-- Title -->
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <span class="news-title">{{ item.title }}</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No education/training entries so far...</p>
  {% endif %}
</div>
